<p style="color: green"><%= notice %></p>

<%= @restaurant.name %>

<div>
 <%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
 <%= link_to "Edit this restaurant", edit_restaurant_path(@restaurant) %>
 <%= link_to "Back to restaurants", restaurants_path %>

<% @restaurant.reviews.each do |review| %>
  <li>
    <%= review.content %>
    <%= link_to 'Delete a review', review_path(review),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  </li>
<% end %>

<h2>Reviews</h2>

<% @restaurant.reviews.each do |review| %>
  <li><%= review.content %></li>
<% end %>
